body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}

.opcoes-menu {
    list-style: none;
    float: right;
    text-align: center;
    margin: 5px auto;
}

.top-menu {
    background-color: white;
    width: 100%;
    height: 70px;
}

.top-menu img {
    float: left;
    display: block;
    width: 80px;
    height: 80px;
    padding-left: 25px;
    text-align: center;
}

.opcoes-menu button {
    background-color: #850cf2;
    border-radius: 12px;
    padding: 10px 20px;
}

.opcoes-menu li button a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.opcoes-menu li {
    position: relative;
    float: right;
    padding-right: 40px;
    padding-top: 25px;
}

.opcoes-menu li a {
    color: #850cf2;
    text-decoration: none;
    display: block;
}

.opcoes-menu li a:hover {
    color: #111111;
    text-decoration: none;
    display: block;
}

.main-cont {
    background-color: white;
    width: 100%;
    height: 700px;
    color: white;
    margin: 0 auto;
    display: inline-block;
}

.main-cont h1 {
    color: black;
    font-size: 48px;
}

.main-cont p {
    padding-top: 15px;
    padding-bottom: 15px;
    color: grey;
    font-size: 18px;
}

.divtext {
    background-color: white;
    width: 35%;
    height: auto;
    font-size: 0;
    margin-top: 250px;
    margin-left: 150px;
    display: inline-block;
    text-align: start;
}

.main-cont img {
    display: inline-block;
    float: right;
    width: 400px;
    height: 550px;
    margin-right: 200px;
    margin-top: 100px;
}

.divtext button {
    background-color: #850cf2;
    border-radius: 12px;
    padding: 10px 20px;
    float: left;
}

.divtext button a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.divtext button a:hover {
    color: #111111;
}